* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

.heading {
  margin: 2px;
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
  background: #252839;
}

.quote {
  position: relative;
  font-size: 60px;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

.quote ::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50%;
  color: brown;
  -webkit-text-stroke: 0.3vw brown;
  border-right: 2px solid brown;
  overflow: hidden;
  animation: text 5s linear infinite;
}

@keyframes text {

  0%,
  20%,
  80% {
    width: 0;
  }

  80% {
    width: 100%;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #6a5050;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(20px);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(0, 201, 61, 1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 1;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1 {
  margin: 0;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.bg-img-1 {
  background-image: url(assets/baby1.jpg);
}

.bg-img-2 {
  background-image: url(assets/babyy.jpg);
}

.bg-img-3 {
  background-image: url(assets/baby2.jpg);
}

.carousel-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}